* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body {
    background-color: #292929;
}

.icon-bar {
    width: 9%;
    height: 100%;
    background-color: rgb(66, 66, 66);
    border-bottom-right-radius: 15px;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: rgb(49, 49, 49);
    border-bottom-right-radius: 15px;
}

.active {
    background-color: #6d77ff;
    border-bottom-right-radius: 15px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.content {
    width: 85%;
    margin-top: 1%;
    margin-right: auto;
    margin-left: auto;
    color: whitesmoke;
}

i {
    color: white;
}

.title p {
    text-align: center;
    font-weight: bolder;
    font-size: 21px;
}

.console {
    background-color: #3d3d3d;
    text-align: center;
    padding: 25px;
    border-radius: 20px;
}

.console button {
    vertical-align: middle !important;
}

textarea {
    resize: none;
    background-color: #4b4b4b;
    color: rgb(202, 202, 202);
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
    padding: 15px;
    width: 95%;
}

textarea::-webkit-scrollbar {
    width: 30px;
}

textarea::-webkit-scrollbar-track {
    background-color: #4b4b4b;
    border-radius: 50px;
}

.downloadGen2 {
    display: none;
    float: right;
}

/* -------- scrollbar -------- */

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: #292929;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}